.linkPost {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
  transition: color 0.36s ease-in-out;
}

.linkPost:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  transition: box-shadow 0.36s ease-in-out;
}